{% extends "base.html" %}

{% block content %}
<div class="w-9/10 mx-auto py-8">
  <div class="flex justify-between items-center mb-8">
        <h1 class="text-4xl font-bold">Time Sheet</h1>
        <a href="/export" class="btn btn-success" hx-boost="false">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                 viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"/>
            </svg>
            Export CSV
        </a>
    </div>
  <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-300">
    <table class="table table-zebra">
      <thead>
        <tr class="text-center text-xl">
          <th class="w-[18%]">Date</th>
          <th class="w-[8%]">Type</th>
          <th>Task</th>
          <th class="w-[10%]">CostBearer</th>
          <th class="w-[10%]">Duration</th>
          <th class="w-[5%]"></th>
        </tr>
      </thead>
      <tbody id="tablesheet-body">
        {% for entry in timesheet %}
          {% include "row.html" %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  <button class="mt-4 btn btn-primary"
          hx-post="/entry"
          hx-target="#tablesheet-body"
          hx-swap="beforeend">
          Add Row
  </button>
</div>
{% endblock %}